@import url('./App.css');


.subtitle {
  display: flex;
  justify-content: center;
  font-size: var(--text-xlarge);
  background-image: linear-gradient(to right, #ffffff, #908f8f, #212121);
  -webkit-background-clip: text;
  color: transparent;
}

.contenedor {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.box-menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--main-color);
  padding-top: 10px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -2px 20px 0px #2c2c2d52;
}

.box-menu a {
  text-decoration: none;
}

.box-menu a:active .icon-text {
  color: var(--purple-text);
}

.box-menu a:hover .icon-text {
  color: var(--purple-text);
}


.contenedor:hover{
  color: yellow;
}

.icon-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-text {
  color: var(--gray-eno);
  margin-top: 5px;
  font-size: 11px;
}

@media screen and (min-width: 1023px) {
  .box-menu{
    display: none;
  }
}